/*** for buttons and componenets which are reused ***/

/************ Progress Bar  *******************/

.progressBar {
  margin-left:55px;
  margin-bottom:2%;
}

/***** R Icon ****/

.rIcon {
  height:26px;
    width:26px;
    border-radius:50%;
    border-radius:50%;
    text-align:center;
    color: #ffffff;
    background-color:#009A65;
    padding:2%;
  
    font-family:"Roboto",Roboto,serif;
    font-size: 18px;
    font-weight:lighter;
}


/*** More buttons ***/
img#downloadButton {
  float: right;
  cursor: pointer;
}

img#expandButton {
  float: right;
  cursor: pointer;
}


.goalText {
  font-family:"Roboto",Roboto,sans-serif;
  font-size:12px;
  font-weight:400;
  padding-left:43px;
}

/*** Minimize and Maximize Button Panel ***/
.minimize {
    height:18px;
    width:18px;
    border-radius:28%;
    text-align:center;
    color: #000000;
    background-color:#F8C31C;
    border-color:#F8C31C;
    float: right;
    font-size: 12px;
    font-weight: bold;
}
.minimize:hover,
.minimize:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/*** Help and Last Message Buttons ***/
.help {
  float:right;
  border: 0.5px solid transparent;
  border-radius: 28px;
  padding: 1%;
  margin-left:0%;
  margin-right:100px;
  margin-top:30px;
  background-color: transparent;
  font-family:"Roboto",Roboto,sans-serif;
  font-weight:200;
  text-transform:uppercase;
  font-size:8px;
  font-size:14.7px;
  color: #4A4A4A;
  text-align:left;
}

.lastMessage {
  float:right;
  border: 0.5px solid transparent;
  border-radius: 28px;
  padding: 1%;
  margin-left:0%;
  margin-right:100px;
  margin-top:30px;
  background-color: transparent;
  font-family:"Roboto",Roboto,sans-serif;
  font-weight:200;
  text-transform:uppercase;
  font-size:8px;
  font-size:14.7px;
  color: #4A4A4A;
  text-align:left;
}

.lastMessage:hover,
.help:hover {
  text-decoration:underline;
  font-weight:bold;
}

.lastMessageInVivo {
  float:right;
  border: 0.5px solid transparent;
  border-radius: 28px;
  padding: 1%;
  margin-left:0%;
  margin-right:100px;
  margin-top:30px;
  background-color: transparent;
  font-family:"Roboto",Roboto,sans-serif;
  font-weight:200;
  text-transform:uppercase;
  font-size:8px;
  font-size:14.7px;
  color: #4A4A4A;
  text-align:left;
}

.helpInVivo {
  float:right;
  border: 0.5px solid transparent;
  border-radius: 28px;
  padding: 1%;
  margin-left:45px;
  margin-right:10%;
  margin-top:30px;
  background-color: transparent;
  font-family:"Roboto",Roboto,sans-serif;
  font-weight:200;
  text-transform:uppercase;
  font-size:8px;
  font-size:14.7px;
  color: #4A4A4A;
  text-align:left;
}

.lastMessageInVivo:hover,
.helpInVivo:hover,
.download:hover
{
  text-decoration:underline;
  font-weight:bold;
}
