/*** background ***/
svg {
  background: #FFFFFF;
}

.graphTitle {
  font-size:14px;
  font-family:"Roboto",Roboto,sans-serif;
  color: #CCCCCC;
}

/** lines **/
.line {
   stroke-width: 3;
    fill: none;
}

.line:hover {
  stroke-width: 5;
}

.selected {
  stroke-width: 5;
}

.cuku {
    stroke: #4E92DF;
}

.moderate {
    stroke: #EE6F30;
}

.ambitious {
    stroke: #FEBF2D;
}

.trendline{
  stroke: black;
  stroke-width: 3;
  fill: none;
}

.trendBefore {
  stroke-width: 3;
}

.trendProjected {

}

/*** bars ***/
#cukuBar {
    fill: #4E92DF;
}

#modBar {
    fill: #EE6F30;
}

#modAmbBar {
    fill: #F8E749;
}



/*** axis ***/
.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

/*** benchmark ***/
.passing {
  fill: #EEEEEE
}

.onWatch {
  fill: #DDDDDD
}

.urgent {
  fill: #CCCCCC
}

#startTestPopup {
  fill: #FFFFFF;
  rx: 6;
  ry: 6;
}
