/*** bars ***/
#cukuBar {
    fill: #4E92DF;
}

#modBar {
    fill: #EE6F30;
}

#modAmbBar {
    fill: #F8E749;
}


/*** axis ***/
.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}
