/****** Renaissance Style ******/

.optionsTable {
  border: 0px;
  background-color: #cccccc;
  border-spacing: 1px;
}

.optionsTable th {
  padding: 4px;
  background-color: #ffff99;
  vertical-align: bottom;
  text-align: left;
  font-weight: bold;
  white-space: nowrap;
}

.labelColumnWithDesc {
    background-color: #eeeeee;
    font-weight: bold;
}
.dataColumn {
  background-color: #ffffff;
  vertical-align: top;
}

/**** Modal aka I like it when you call me big popup *****/
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modalContainer {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    width: 80%;
    height: 50%;
    border: 3px solid #4e92df;
    border-radius: 25px;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/*********** Robot Styles **********/

.jarvis {
	width: 20%;
    height: 20%;
	position: fixed;
	bottom: 50%;
	right: 20%;
}

.messageWrapper {
	border: 3px solid #4e92df;
  border-radius: 25px;
	padding: 10%;
}

.buttonWrapper {
  border: 3px solid #4e92df;
  border-radius: 10px;
  padding: 5%;
  background-color: white;
}

.messageText {
	background-color: white;
}

.messageButtons {
	margin-top: 5%;
}

.twoButtons {
	width: 49%;
	white-space: normal;
}

.threeButtons {
	width: 31%;
	white-space: normal;
}

.buttonOne {}
.buttonTwo {}
.buttonThree {}

.robotContainer {
	width: 30%;
    height: 45%;
	text-align: center;
	margin-left: 35%;
}

.robotContainer img {
	width: 100%;
	height: 100%;
}

.modalRobotContainer {
	text-align: center;
}

.modalRobotContainer img {
	width: 10%;
	height: 10%;
}
/*********** End Robot Styles **********/
